.main-title {
  color: blueviolet;   
}

#meet-time {
  color: rgb(99, 28, 143);
}

p {
  color: #680042;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
  font-family: "Roboto", sans-serif;
}